.modal-content {
    position: relative;
    background-color: #fff;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    span, label {
      font-weight: 600;
    }
  }
  .modal-header {
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #4E5457;
    label{
      color: #485965;
      font-size:2em
    }
  }
  .modal-body {
    position: relative;
  }
  .modal-footer {
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #4E5457;
  }
  .modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
  }
  .modal-footer-non-border {
    padding: 19px 20px 20px;
    text-align: right;
  }
  .modal-footer-non-border .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
  }
  
  